* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.template {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow-x: hidden;
  left: 0;
}

/*  -----------------------------------------------------------------------------------------------------------------------

    code untuk bagian navbar

     -----------------------------------------------------------------------------------------------------------------------*/

.navbar-nav {
  /* border: 1px solid red; */
  gap: 5em;
  font-size: 1.5em;
  text-transform: capitalize;
}

/*  -----------------------------------------------------------------------------------------------------------------------

   end code untuk bagian navbar

     -----------------------------------------------------------------------------------------------------------------------*/

/* code for media < 1000px  */

@media screen and (max-width: 1000px) {
  .navbar-nav {
    gap: 0.5em;
  }
  .nav-link:first-child {
    margin-top: 1em;
  }
}

/* ned code for media < 1000px  */
